@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Jacquard+24&display=swap');


body{
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  margin: 0;
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcD4zV2XI0dCcRODc4Rp2SzB5e-bCaCGg_3A&s); 
  color: yellow;
  font-size: 30px;
}